<!-- Footer ================================================== -->
<footer class="footer" id="page_footer">
	<hr />
	<div class="row-fluid">
		<div class="span4">
		  <h4>Powered by Civic OpenMedia</h4>
	    <div class="block">
				<p>Civic OpenMedia is a publishing system for government open data. </p>
				<ul>
					<li><a href="http://www.civicopenmedia.org/">Learn more</a></li>
					<li><a href="#">Find OpenMedia Municipalities</a></li>
					<li><a href="#">Sign up for free account</a></li>
					<li><a href='#'>Download software</a></li>
					<li><a href='#'>Contact</a></li>
					<li><a href='#'>Help</a></li>
					<li><a href='#'>File a bug</a></li>
				</ul>
			</div>
			<p>&copy; 2013 iPublic, LLC</p>
		</div>
		<div class="span8">
			<p class="pull-right"><a href="#">Back to top</a></p>
		</div>
	</div>
</footer>
